/*RESET CSS*/
	* { 
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
	}
	
	body {
		font-family: 'Roboto', sans-serif;
	}

	.row {
		margin-right: 0;
		margin-left: 0;
	}

/*PLUGINS*/
	/*OWL*/
	.owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y}.owl-carousel .owl-wrapper{display:none;position:relative}.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%}.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}.owl-carousel .owl-item{float:left}.owl-controls .owl-buttons div,.owl-controls .owl-page{cursor:pointer}.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent}.grabbing{cursor:url(grabbing.png) 8 8,move}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}
	.owl-theme .owl-controls{margin-top:10px;text-align:center}.owl-theme .owl-controls .owl-buttons div{color:#FFF;display:inline-block;zoom:1;margin:5px;padding:3px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;background:#869791;filter:Alpha(Opacity=50);opacity:.5}.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter:Alpha(Opacity=100);opacity:1;text-decoration:none}.owl-theme .owl-controls .owl-page{display:inline-block;zoom:1}.owl-theme .owl-controls .owl-page span{display:block;width:12px;height:12px;margin:5px 7px;filter:Alpha(Opacity=50);opacity:.5;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#869791}.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=100);opacity:1}.owl-theme .owl-controls .owl-page span.owl-numbers{height:auto;width:auto;color:#FFF;padding:2px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px}.owl-item.loading{min-height:150px;background:url(AjaxLoader.gif) center center no-repeat}

/*VARIAVEIS*/
	@c-green: #009688;
	@c-green-b: #005c53;

	/*Backgrounds*/
	@bg-cinza-claro: #EEEEEE;
	@bg-laranja: #ffcc00;

	/*Bordas*/
	@borda-cinza: #BBBBBB;
	@borda-laranja: #ffbd0c;
	.border-radius (@radius: 5px) {
		-webkit-border-radius: @radius;
		-moz-border-radius:    @radius;
		border-radius:         @radius;
	}

	/*Botoes*/
	@btn-laranja: #ffcc00;

	/*Colors*/
	@color-azul: #353e44;

/*ALL*/
@media screen {

	/* TOPO ~ MENU E BUSCA */
	header {
		.top-menu{
			background: @c-green;
		}

		.top-busca{
			background: @bg-cinza-claro;
			padding: 13px 0px;
		}

		.menu {
			height: 40px;
			display: table;
			h1 {
				margin: 0;
				padding-top: 10px;
				padding-left: 0px;
				font-size: 14px;
			}

			ul {
				margin-bottom: 0;
				height: 65px;
				li {
					height: 100%;
					a {
						color: #FFF;
						display: block;
						padding: 24px 10px;
						height: 45px;
						font-weight: bold;
						text-align: center;
						height: 100%;
					}
				}
			}
		}
		.search {
			p{
				color: @color-azul;
				font-weight: 300;
				margin: 0px;
				line-height: 37px;
			}
			p[class*="col"], div[class*="col"] {
				padding: 0 2px;
			}

			input {
				width: 100%;
				max-width: 100%;
				border: 2px solid @borda-cinza;
				padding: 5px 5px 5px 30px;
				font-size: 16px;
				font-weight: 300;
				.border-radius(2px);
			}

			button.buscar{
				background: @bg-laranja;
				border: 1px solid @borda-laranja;
				padding: 6px;
				font-size: 16px;
				font-weight: 700;
				.border-radius(2px);
			}

			.icon-inputs{
				position: relative;
					>i{
						position: absolute;
						top: 5px;
						left: 10px;
						color: #CFCFCF;
					}
			}

			.icon-inputs.destino{
				>i{
					font-size: 26px;
				}
			}

			.icon-inputs.calendario{
				input{
					padding: 5px 5px 5px 33px;
				}

				>i{
					top: 6px;
					font-size: 22px;
				}
			}

			.icon-inputs.peoples{
				input{
					padding: 5px 5px 5px 35px;
				}

				>i{
					top: 7px;
					font-size: 22px
				}
			}
		}
	}

	/* SLIDESHOU HOME */
	.banner {
		img { 
			margin: 0 auto;
			display: block;
		}
	}

	/* MIOLO HOME ~ #PARTIU */
	.titulo-destaque{
		position: relative;
		text-align: center;
		margin: 40px 0px;
		h2{
			background: #FFF;
			display: table;
			margin: 0 auto;
			padding: 0px 10px;
			font-size: 40px;
			font-weight: 200;
			position: relative;
			z-index: 999;
		}
		hr{
			width: 100%;
			margin: 0px;
			position: absolute;
			top: 24px;
			z-index: 99;
		}
	}
}

/*MOBILE MIN*/
@media (min-width: 300px) {
	
}

/*MOBILE LARGE*/
@media (min-width: 480px) {

}

/*TABLET*/
@media (min-width: 760px) {

}

/*DESKTOP MIN*/
@media (min-width: 992px) {
	.search {
		p{
			font-size: 14px;
			color: @color-azul;
			font-weight: 300;
			margin: 0px;
			line-height: 37px;
		}
	}
}


/*DESKTOP LG*/
@media (min-width: 1200px) {
	.search {
		p{
			font-size: 16px;
			color: @color-azul;
			font-weight: 300;
			margin: 0px;
			line-height: 37px;
		}
	}
}