/*RESET CSS*/
	* { 
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
	}
	
	body {
		font-family: 'Roboto';
	}

	.row {
		margin-right: 0;
		margin-left: 0;
	}

/*PLUGINS*/
	

/*VARIAVEIS*/
	@c-green: #009688;
	@c-green-b: #005c53;

	/*Bordas*/
	@borda-cinza: #BBBBBB;
	@borda-laranja: #ffbd0c;

	/*Botoes*/
	@bg-btn-laranja: #ffcc00;

/*ALL*/
@media screen {

	.fundo-menu{
		background: @c-green;
	}

	header {
		.menu {
			height: 40px;
			display: table;
			padding: 10px 0px;

			h1 {
				margin: 0;
				padding-top: 15px;
				font-size: 14px;
			}

			ul {
				margin-bottom: 0;
				li {
					a {
						color: #FFF;
						display: block;
						padding-top: 15px;
						height: 45px;
						font-weight: bold;
					}
				}
			}
		}
		.search {
			p[class*="col"], div[class*="col"] {
				padding: 0 2px;
			}

			input {
				width: 100%;
				max-width: 100%;
				border: 4px solid @borda-cinza;
			}
		}
	}
}

/*MOBILE MIN*/
@media (min-width: 300px) {

}

/*MOBILE LARGE*/
@media (min-width: 480px) {

}

/*TABLET*/
@media (min-width: 760px) {

}

/*DESKTOP MIN*/
@media (min-width: 992px) {

}

/*DESKTOP LG*/
@media (min-width: 1200px) {

}

/**/