/*RESET CSS*/
	* { 
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
	}
	
	body {
		font-family: 'Roboto', sans-serif;
	}

	.row {
		margin-right: 0;
		margin-left: 0;
	}

/*PLUGINS*/
	

/*VARIAVEIS*/
	@c-green: #009688;
	@c-green-b: #005c53;

	/*Backgrounds*/
	@bg-cinza-claro: #EEEEEE;
	@bg-laranja: #ffcc00;

	/*Bordas*/
	@borda-cinza: #BBBBBB;
	@borda-laranja: #ffbd0c;
	.border-radius (@radius: 5px) {
		-webkit-border-radius: @radius;
		-moz-border-radius:    @radius;
		border-radius:         @radius;
	}

	/*Botoes*/
	@btn-laranja: #ffcc00;

	/*Colors*/
	@color-azul: #353e44;

	.line-weight(@string){
		line-height: @string;
	}

/*ALL*/
@media screen {

	header {
		.top-menu{
			background: @c-green;
		}

		.top-busca{
			background: @bg-cinza-claro;
			padding: 13px 0px;
		}

		.menu {
			height: 40px;
			display: table;
			padding: 10px 0px;

			h1 {
				margin: 0;
				padding-top: 15px;
				font-size: 14px;
			}

			ul {
				margin-bottom: 0;
				li {
					a {
						color: #FFF;
						display: block;
						padding-top: 15px;
						height: 45px;
						font-weight: bold;
						text-align: center;
					}
				}
			}
		}
		.search {
			p{
				font-size: 20px;
				color: @color-azul;
				font-weight: 300;
				margin: 0px;
				line-height: 37px;
			}
			p[class*="col"], div[class*="col"] {
				padding: 0 2px;
			}

			input {
				width: 100%;
				max-width: 100%;
				border: 2px solid @borda-cinza;
				padding: 5px;
				font-size: 16px;
				font-weight: 300;
				.border-radius(2px);
			}

			button.buscar{
				background: @bg-laranja;
				border: 1px solid @borda-laranja;
				padding: 6px;
				font-size: 16px;
				font-weight: 300;
				.border-radius(2px);
			}
		}
	}
}

/*MOBILE MIN*/
@media (min-width: 300px) {

}

/*MOBILE LARGE*/
@media (min-width: 480px) {

}

/*TABLET*/
@media (min-width: 760px) {

}

/*DESKTOP MIN*/
@media (min-width: 992px) {

}

/*DESKTOP LG*/
@media (min-width: 1200px) {

}

/**/